body { font:12px monospace; background: #eee; }
div, p { width:300px; text-align:center; margin:0 auto 5px auto; }
table { width:300px; }
td { text-align:left; width:50%; }
td.label { text-align:right; font-weight:bold; }
#universe { border:1px #bbb solid; cursor:crosshair; }
.buttons { width:766px; position:relative; }
.buttons br { clear:left; }
a {
    cursor:pointer;
    float:left;
    margin:0 3px 3px 0;
    position:relative;
    display:block;
    border:1px #eee solid;
    background:#eee;
}
a:hover { border:1px #888 solid; background:#eee; }
a:active { border:1px #888 solid; background:#fff; }
a.selected { border:1px #888 solid; background:#fff; }
a span {
    position:relative;
    display:block;
    overflow:hidden;
    height:6px;
    width:6px;
    left:3px;
    top:3px;
}
a img {
    position:relative;
    left:-3px;
}

.block { width:12px; height:12px; }
.block span { }
.block img { top:-3px; }

.beehive { height:15px; width:18px; }
.beehive span { height:9px; width:12px; }
.beehive img { top:-12px; }

.loaf { height:18px; width:18px; }
.loaf span { height:12px; width:12px; }
.loaf img { top:-24px; }

.boat { height:15px; width:15px; }
.boat span { height:9px; width:9px; }
.boat img { top:-39px; }

.blinker { height:15px; width:9px; }
.blinker span { height:9px; width:9px; left:0px; }
.blinker img { top:-51px; }

.toad { height:18px; width:18px; }
.toad span { height:12px; width:12px; }
.toad img { top:-63px; }

.beacon { height:18px; width:18px; }
.beacon span { height:12px; width:12px; }
.beacon img { top:-78px; }

.pulsar { height:45px; width:45px; }
.pulsar span { height:39px; width:39px; }
.pulsar img { top:-96px; left:-6px; }

.glider1 { height:15px; width:15px; }
.glider1 span { height:9px; width:9px; }
.glider1 img { top:-141px; }

.glider2 { height:15px; width:15px; }
.glider2 span { height:9px; width:9px; }
.glider2 img { top:-141px; left:-27px; }

.glider3 { height:15px; width:15px; }
.glider3 span { height:9px; width:9px; }
.glider3 img { top:-141px; left:-15px; }

.glider4 { height:15px; width:15px; }
.glider4 span { height:9px; width:9px; }
.glider4 img { top:-141px; left:-39px; }

.lwss1 { height:18px; width:21px; }
.lwss1 span { height:12px; width:15px; }
.lwss1 img { top:-153px; }

.lwss2 { height:18px; width:21px; }
.lwss2 span { height:12px; width:15px; }
.lwss2 img { top:-153px; left:-21px; }

.lwss3 { height:21px; width:18px; }
.lwss3 span { height:15px; width:12px; }
.lwss3 img { top:-153px; left:-54px; }

.lwss4 { height:21px; width:18px; }
.lwss4 span { height:15px; width:12px; }
.lwss4 img { top:-153px; left:-39px; }

.fpentomino { height:15px; width:15px; }
.fpentomino span { height:9px; width:9px; }
.fpentomino img { top:-168px; }

.diehard { height:15px; width:30px; }
.diehard span { height:9px; width:24px; }
.diehard img { top:-180px; }

.acorn { height:15px; width:27px; }
.acorn span { height:9px; width:21px; }
.acorn img { top:-192px; }

.glidergun { height:33px; width:114px; }
.glidergun span { height:27px; width:108px; }
.glidergun img { top:-204px; }

.infinite1 { height:24px; width:30px; }
.infinite1 span { height:18px; width:24px; }
.infinite1 img { top:-234px; }

.infinite2 { height:21px; width:21px; }
.infinite2 span { height:15px; width:15px; }
.infinite2 img { top:-255px; }

.infinite3 { height:9px; width:123px; }
.infinite3 span { height:3px; width:117px; }
.infinite3 img { top:-273px; }